


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:  smooth;
}
:root{
    --clr-main: rgb(188, 53, 53);
}
img{
    width: 100%;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins' ,sans-serif;
}


.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    
}
.navlink{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(61, 61, 61);
    transition: .5s ease;
}

.navlink:hover,
.navlink:focus{
    color: var(--clr-main);

}


.header-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-toggle{
    height: 40px;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;

}

.nav-toggle:focus{
    border: 2px solid white;
}

.menuicon{
    fill: white;
    width: 30px;
    height: 30px;
}

.logo{
    width: 60px;
}


/* hero section ----->
/* hero section ----->
/* hero section ----->
/* hero section ----->*/


.hero-beliefs{
    height: auto;
    padding-top: 240px;
    padding-bottom: 200px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.947),rgba(0, 0, 0, 0.965)), url(./imgs/silvio-kundt-Fixg8KipOg8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}

.hero-beliefs h1{
    font-size: 2rem;
    margin-bottom: 80px;
}


.beliefs-list p{
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: medium;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
}

.beliefs-list span{
    display: block;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;

}

.beliefs-list .subpoint{
    font-size: 1.2rem;
    margin-left: 30px;
    margin-top: 20px;
    text-transform:unset;
}


.beliefs-list{
    list-style: number;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
}


.list-wrapper{
    max-width: 747px;
    width: 90%;
    
}
.container{
    
    
    max-width: 1300px;
    width: 90%;
    
}


.statement{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(49, 49, 49);
}

.statement p{
    width: 90%;
    max-width: 600px;
    line-height: 1.4;
    font-size: 1.3rem;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    opacity: .8;
    color: rgb(202, 202, 202);
}

.statement span{
    font-weight: bold;
   
    color: white;
}

.bg{
    background-color: rgb(48, 10, 10);
}



/* footer section */








footer{
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 2);
    color: white;
}

.location{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

footer h6{
    font-size: 1.4rem;
    width: 300px;
    font-weight: lighter;
}

footer p{
    font-size: .9rem;
    line-height: 1.2;
    color: rgb(165, 165, 165);
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}

.contactwrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
}

.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.phonelink{
    color: white;
}

.social a{
    color: white;
    text-decoration: none;
}

.social a:hover .icon{
    fill: rgb(193, 76, 76);
}

.icon{
    width: 30px;
    height: 30px;
    fill: white;
    transition: .5s ease;
}


/* media quieres ----------*/


@media (max-width: 768px) {

    .beliefs-list{
        padding: 0 20px;
        gap: 70px;
    }
    .nav{
        width: 100%;
        
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    .navlist{
    
        display: flex;
        flex-direction: column;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        background-color: black;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: .5s ease;
        border-left: 5px solid rgb(66, 15, 15);
        
        
    }
    .logo{
        width: 50px;
    }

    .hero-beliefs h1{
        font-size: 2rem;
        width: 50%;
        line-height: 1.4;
        text-align: center;
         
    }

    .statement{
        padding: 90px 20px;
    }

    .nav-toggle{
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 3;
    }

    .menuicon{
        fill: rgb(195, 54, 54);
    }

    .openmenu{
        opacity: 1;
        pointer-events: all;
    }

    

    .navitem{
        margin: 20px;
    }

    .navlink{
        font-size: 1.5rem;
        color: white;
        
    }
}






